---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPosts, getSeriesPosts } from "../../lib/posts";

export const getStaticPaths = async () => {
  const series = Array.from(
    new Set((await getAllPosts()).map((post) => post.series).filter((item): item is string => Boolean(item))),
  );
  return series.map((item) => ({ params: { series: item } }));
};

const series = Astro.params.series ?? "";
const posts = await getSeriesPosts(series);
---

<BaseLayout title={`Series: ${series}`}>
  <h1>Series: {series}</h1>
  <ol>
    {posts.map((post) => (
      <li><a href={`/posts/${post.slug}`}>{post.seriesOrder}. {post.title}</a></li>
    ))}
  </ol>
</BaseLayout>
